

<div role="main" class="main">
    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(img/page-header/page-header-about-us.jpg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-9 font-weight-bold">@VipAssistProject.Resources.ResWebsite.lbAbout_Us</h1>
                    <br />
                    <br />
                    <br />
                    <span class="sub-title" style="font-family: 'Poppins', sans-serif; line-height: 1.6; ">@VipAssistProject.Resources.ResWebsite.lbTHE</span>
                </div>
           
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-5">
            <div class="col">

                <div class="row text-center pb-5">
                    <div class="col-md-9 mx-md-auto">
                        <div class="overflow-hidden mb-3">
                            <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                <span>@VipAssistProject.Resources.ResWebsite.lbWeWe </span>
                                <span class="word-rotator-words bg-primary">
                                    <b class="is-visible">@VipAssistProject.Resources.ResWebsite.lbCreate</b>
                                    <b>@VipAssistProject.Resources.ResWebsite.lbBuild</b>
                                    <b>@VipAssistProject.Resources.ResWebsite.lbDevelop</b>
                                </span>
                                <span> @VipAssistProject.Resources.ResWebsite.lbSolutions</span>
                            </h1>
                        </div>
                        <div class="overflow-hidden mb-3">
                            <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200" style="font-family: 'Poppins', sans-serif; line-height: 1.6; ">
                                @VipAssistProject.Resources.ResWebsite.lbWeProvide2
                            </p>
                            @*<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                @VipAssistProject.Resources.ResWebsite.lbWespecialise
                            </p>*@
                           
                        </div>
                    </div>
                </div>

                @*<div class="row mt-3 mb-5">
                    <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
                        <h3 class="font-weight-bold text-4 mb-2">@VipAssistProject.Resources.ResWebsite.lbOUR_MISSION</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu.</p>
                    </div>
                    <div class="col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                        <h3 class="font-weight-bold text-4 mb-2">@VipAssistProject.Resources.ResWebsite.lbOUR_VISION</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla vel pellentesque consequat, ante nulla hendrerit arcu.</p>
                    </div>
                    <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
                        <h3 class="font-weight-bold text-4 mb-2">@VipAssistProject.Resources.ResWebsite.lbWHY_US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel consequat, ante nulla hendrerit arcu.</p>
                    </div>
                </div>*@

            </div>
        </div>

    </div>

    <section class="section section-primary border-0 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-options="{'accY': -150}">
        <div class="container">
            <div class="row counters counters-sm pb-4 pt-3">
                <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="counter">
                        <i class="icons icon-user text-color-light"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="3000" data-append="+">0</strong>
                        <label class="text-4 mt-1 text-color-light">@VipAssistProject.Resources.ResWebsite.lbHappy_Clients</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="counter">
                        <i class="icons icon-badge text-color-light"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="10">0</strong>
                        <label class="text-4 mt-1 text-color-light">@VipAssistProject.Resources.ResWebsite.lbYearsInBusiness</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                    <div class="counter">
                        <i class="icons icon-graph text-color-light"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="6">0</strong>
                        <label class="text-4 mt-1 text-color-light">@VipAssistProject.Resources.ResWebsite.lblarge</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter">
                        
                        <i class="icons icon-basket icons text-color-light"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="1500">0</strong>
                        <label class="text-4 mt-1 text-color-light">  @VipAssistProject.Resources.ResWebsite.lbrequeststaken</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5 mb-sm-5 mb-lg-0">
                    <h2 class="text-color-dark font-weight-normal text-6 mb-2">@VipAssistProject.Resources.ResWebsite.lbWho <strong class="font-weight-extra-bold">@VipAssistProject.Resources.ResWebsite.lbWe_Are</strong></h2>
                    <p class="lead pe-lg-5 me-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget</p>
                    <a href="#" class="btn btn-dark font-weight-semibold btn-px-4 btn-py-2 text-2">@VipAssistProject.Resources.ResWebsite.lbLearn_More</a>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 position-relative mt-sm-5" style="top: 1.7rem;">
                    <div class="cascading-images position-relative">
                        <img src="~/img/slides/164184.jpg" class="appear-animation box-shadow-3 d-none d-sm-block" width="250" alt="" data-appear-animation="expandIn" data-appear-animation-duration="600ms" />
                        <div class="position-absolute w-100" style="top: 41%; left: -20%;">
                            <img src="~/img/slides/318288.jpg" class="appear-animation box-shadow-3 d-none d-sm-block" width="250" alt="" data-appear-animation="expandIn" data-appear-animation-delay="300" data-appear-animation-duration="600ms" />
                        </div>
                        <div class="position-absolute w-100" style="top: 75%; left: 30%;">
                            <img src="~/img/slides/212186.jpg" class="appear-animation box-shadow-3" width="250" alt="" data-appear-animation="expandIn" data-appear-animation-delay="600" data-appear-animation-duration="600ms" />
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </section>*@

    @*<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
        <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5 mb-sm-5 mb-lg-0">
                        <h2 class="text-color-dark font-weight-normal text-6 mb-2">Who <strong class="font-weight-extra-bold">We Are</strong></h2>
                        <p class="lead pe-lg-5 me-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget</p>
                        <a href="#" class="btn btn-dark font-weight-semibold btn-px-4 btn-py-2 text-2">LEARN MORE</a>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 position-relative mt-sm-5" style="top: 1.7rem;">
                        <img src="img/generic/generic-corporate-3-1.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation animated expandIn appear-animation-visible" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -50%; animation-delay: 300ms;" alt="">
                        <img src="img/generic/generic-corporate-3-2.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation animated expandIn appear-animation-visible" data-appear-animation="expandIn" style="top: -33%; left: -29%; animation-delay: 100ms;" alt="">
                        <img src="img/generic/generic-corporate-3-3.jpg" class="img-fluid position-relative appear-animation mb-2 animated expandIn appear-animation-visible" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" style="animation-delay: 600ms;">
                    </div>
                </div>
            </div>
    </section>

    <div class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
        <div class="row pt-5 pb-4 my-5">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-start">
                <div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="~/img/slides/164184.jpg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">John Doe</h3>
                        <p class="text-2 mb-0">CEO</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="~/img/slides/164184.jpg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Jessica Doe</h3>
                        <p class="text-2 mb-0">CEO</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="~/img/slides/164184.jpg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Chris Doe</h3>
                        <p class="text-2 mb-0">DEVELOPER</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="~/img/slides/164184.jpg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Julie Doe</h3>
                        <p class="text-2 mb-0">SEO ANALYST</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="~/img/slides/164184.jpg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Robert Doe</h3>
                        <p class="text-2 mb-0">DESIGNER</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center text-md-start mb-5 mb-md-0">
                <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc.</p>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>
            </div>
        </div>
    </div>*@

    <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-6 text-center text-md-start mb-5 mb-lg-0">
                    <h2 class="text-color-dark font-weight-normal text-6 mb-2">@VipAssistProject.Resources.ResWebsite.lbAbout <strong class="font-weight-extra-bold">@VipAssistProject.Resources.ResWebsite.lbOur_Clients</strong></h2>
                    <p class="lead">@VipAssistProject.Resources.ResWebsite.lbTestimonials </p>
                    @*<div class="row justify-content-center my-5">
                        <div class="col-8 text-center col-md-4">
                            <img src="~/img/logos/logo-1.png" class="img-fluid hover-effect-3" alt="" />
                        </div>
                        <div class="col-8 text-center col-md-4 my-3 my-md-0">
                            <img src="~/img/logos/logo-2.png" class="img-fluid hover-effect-3" alt="" />
                        </div>
                        <div class="col-8 text-center col-md-4">
                            <img src="~/img/logos/logo-3.png" class="img-fluid hover-effect-3" alt="" />
                        </div>
                    </div>*@
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme nav-style-1 stage-margin" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': true, 'nav': false, 'dots': false, 'stagePadding': 40, 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
                                <div class="testimonial-author">
                                    <img src="~/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
                                <div class="testimonial-author">
                                    <img src="~/img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


